<template>
  <div class="wrapper page-margin">
    <!--<button @click="refresh"><p style="color: black">Refresh</p></button>-->
    <h1>Uutiset</h1>
    <!--<p>varmaan tähän jonkinlainen postausten suodatusvalikko</p>
    <ul>
      <li>tapahtumat</li>
      <li>ulkopuoliset julkaisut (mainokset, tutkimukset)</li>
      <li>työpaikkailmoitukset</li>
    </ul>-->
    <div class="news-cards">
      <!-- Previous way to render list
        <NewsCard v-for="(post, index) in posts" :key="index" :post="post" />
      <p>Joo</p><p>Joo</p><p>Joo</p>-->
      <NewsCard v-for="post in posts" :key="post.url" :post="post" class="card" />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Vue from 'vue'
import NewsCard from './../../components/NewsCard.vue'
import { PostState } from './../../store/posts'

export default {
  name: 'Uutiset',
  async fetch() {
    try {
      if(this.$store.state.posts.posts.length === undefined || this.$store.state.posts.posts.length == 0) {
        //await this.$store.dispatch('posts/loadPosts')
        const response = await axios.get(this.$store.state.settings.host + '/posts?_sort=published_at:desc')
        this.$store.state.posts.posts = response.data
      }
    } catch (e) {
      e({
        statusCode: 503,
        message: 'Unable to fetch events at this time. Please try again.',
        })
    }
  },
  components: {
    NewsCard,
  },
  computed: {
    posts() {
      return this.$store.state.posts.posts
    },
  },
  methods: {
    refresh() {
      console.log('refresh')
      this.$store.dispatch('posts/loadPosts')
    },
  },
  created() {
    //this.refresh()
  },

  /*,
  fetchonserver: true,*/
}
</script>

<style scoped lang="scss">
@import '~/assets/scss/text.scss';
@import '~/assets/scss/styling.scss';

.wrapper {
  padding-bottom: 8vw;
}

.news-cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-items: center;

  .card {
    width: 100%;
  }
}

h1 {
  margin-bottom: 4vw;
  margin-top: 4vw;
}
</style>
