<template>
  <div class="wrapper page-content content-padding">
    <p>
      Yhdenvertaisuuslain mukaan ketään ei saa syrjiä iän, alkuperän,
      kansalaisuuden, kielen, uskonnon, vakaumuksen, mielipiteen, poliittisen
      toiminnan, ammattiyhdistystoiminnan, perhesuhteiden, terveydentilan,
      vammaisuuden, seksuaalisen suuntautumisen, tai muun henkilöön liittyvän
      syyn perusteella.
    </p>
    <p>
      Turvallisemmilla tiloilla viitataan yhteisölliseen pyrkimykseen luoda
      turvallisuutta lisääviä käytäntöjä. Käytännössä turvallisemmissa tiloissa
      ainejärjestö ja sen jäsenet pyrkivät ottamaan vastuuta hankalista
      tilanteista. Ristiriitoja käsitellään sen sijaan, että niitä vain
      siedetään.
    </p>
    <ol>
      <li>
        <p>
          Ole kunnioittava. Älä kyseenalaista toisen erilaisuutta. Käsittele
          arkoja aiheita kunnioittavasti.
        </p>
      </li>
      <li>
        <p>
          Anna tilaa. Huolehdi että kaikki tulevat kuulluksi ja pääsevät
          osalliseksi.
        </p>
      </li>
      <li><p>Kunnioita kaikkien henkistä ja fyysistä koskemattomuutta.</p></li>
      <li>
        <p>
          Kunnioita jokaisen itsemäärittelyoikeutta äläkä tee oletuksia
          stereotypioiden perusteella.
        </p>
      </li>
      <li>
        <p>
          Älä toisinna puheessasi, teoissasi tai käytöksessäsi rasistisia ja
          syrjiviä stereotypioita edes “vitsillä” tai “ironisesti”.
        </p>
      </li>
      <li>
        <p>
          Älä häiritse ketään sanallisesti, koskemalla tai tuijottamalla. Ei:n
          sanominen tarkoittaa ei:tä. Lopeta tai muuta käytöstäsi, jos toinen
          sitä pyytää.
        </p>
      </li>
      <li>
        <p>
          Jos olet eri mieltä jonkun kanssa, koita ilmaista se rakentavalla ja
          rauhanomaisella tavalla. Keskity asiaan, älä henkilöön.
        </p>
      </li>
      <li>
        <p>
          Mikäli jokin tilanne tuntuu epämukavalta, nostathan asian esiin,
          esimerkiksi kertomalla siitä hallitukselle. Voit antaa palautetta
          tilanteista myös jälkikäteen ja anonyymisti.
        </p>
      </li>
      <li>
        <p>
          Puutu, mikäli todistat rasismia, syrjintää, häirintää tai muuta
          epäasiallista käytösä.
        </p>
      </li>
    </ol>
    <p>
      Serveri ry:n häirintäyhdyshenkilönä toimii sosiaalipoliittinen vastaavamme
      Valerija Kirpu.
    </p>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'Turvalliset',
  layout() {
    return 'jarjesto'
  },
  data: function () {
    return {
      view: 0,
    }
  },
  head() {
        return {
            title: "Turvalliset asiat tjsp",
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content:
                        "Turvalliset asiat tjsp",
                },
                {
                    hid: "twitter:title",
                    name: "twitter:title",
                    content: "Serveri ry - Turvalliset asiat tjsp",
                },
                {
                    hid: "twitter:description",
                    name: "twitter:description",
                    content: "Serverin turvalliset asiat tjsp",
                },
                /*{
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },*/
                {
                    hid: "og:title",
                    property: "og:title",
                    content: "Serveri ry - Turvalliset asiat tjsp",
                },
                {
                    hid: "og:description",
                    property: "og:description",
                    content: "Serverin turvalliset asiat tjsp",
                },/*
                {
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },*/
                {
                    hid: "og:url",
                    property: "og:url",
                    content:
                        this.$store.state.settings.baseurl + this.$route.path,
                },
            ],
        };
    },
  components: {},
}
</script>

<style scoped lang="scss">
@import '~/assets/scss/colors.scss';
@import '~/assets/scss/prepare.scss';
@import '~/assets/scss/text.scss';
@import '~/assets/scss/styling.scss';

</style>