<template>
    <div>
        <nuxt-link class="link" to="/jarjesto">
          <div
            class="button top"
            :class="{ sidecurrent: this.current == 'jarjesto' }"
          >
            <p>Järjestö</p>
          </div>
        </nuxt-link>
        <nuxt-link class="link" to="/jarjesto/tietojenkasittelytiede">
          <!-- / symbol converts to - symbol -->
          <div
            class="button"
            :class="{
              sidecurrent: this.current == 'jarjesto-tietojenkasittelytiede',
            }"
          >
            <p>Mitä on tietojenkäsittelytiede</p>
          </div>
        </nuxt-link>
        <nuxt-link class="link" to="/jarjesto/uudelle_opiskelijalle">
          <!-- / symbol converts to - symbol -->
          <div
            class="button"
            :class="{
              sidecurrent: this.current == 'jarjesto-uudelle_opiskelijalle',
            }"
          >
            <p>Uudelle opiskelijalle</p>
          </div>
        </nuxt-link>
        <nuxt-link class="link" to="/jarjesto/tapahtumakalenteri">
          <div
            class="button"
            :class="{
              sidecurrent: this.current == 'jarjesto-tapahtumakalenteri',
            }"
          >
            <p>Tapahtumakalenteri</p>
          </div>
        </nuxt-link>
        <nuxt-link class="link" to="/jarjesto/jäsenyys">
          <div
            class="button"
            :class="{ sidecurrent: this.current == 'jarjesto-jäsenyys' }"
          >
            <p>Jäsenyys</p>
          </div>
        </nuxt-link>
        <nuxt-link class="link" to="/jarjesto/säännöt">
          <div
            class="button"
            :class="{ sidecurrent: this.current == 'jarjesto-säännöt' }"
          >
            <p>Säännöt</p>
          </div>
        </nuxt-link>
        <nuxt-link class="link" to="/jarjesto/yritysyhteistyö">
          <div
            class="button"
            :class="{ sidecurrent: this.current == 'jarjesto-yritysyhteistyö' }"
          >
            <p>Yritysyhteistyö</p>
          </div>
        </nuxt-link>
        <nuxt-link class="link" to="/jarjesto/hallitus">
          <div
            class="button bottom"
            :class="{ sidecurrent: this.current == 'jarjesto-hallitus' }"
          >
            <p>Hallitus ja hallitustoiminta</p>
          </div>
        </nuxt-link>
    </div>
</template>

<script>
export default {
  name: 'elements',
  transition: 'slide-bottom'
}
</script>