<template>
  <div>
    <div class="page-content">
      <div class="content-padding">
        <h1>Hallitus</h1>
        <p>
          Hallitus vastaa Serverissä ainejärjestötoiminnan käytännön asioiden
          hoidosta. Asioita tehdään yhdessä, mutta käytännön syistä tehtäviä on
          jaettu "hallitusrooleihin" käytännön syistä hallituslaisten
          kiinnostuksen ja osaamisen mukaan. Mikäli haluat olla yhteydessä
          hallitukseen, tapahtuu se helpoiten
          <a href="mailto:hallitus@serveriry.fi">sähköpostitse</a> tai jos olet
          jäsen niin <a href="https://t.me/joinchat/Byv7xlJDlwk03ip1lXAXtw">Oppositiosta</a> 
          löydät myös kaikki hallituslaiset.

          <br /><br />

          Serverin hallituksen jäsenet vaihtuvat vuosittain ja vaikka toiminnan
          sisältö mukautuu aikaan niin hallituksen tehtävät muuttuu harvemmin ja
          hitaammin. Mikäli ainejärjestötoiminta kiinnostaa kannattaa harkita
          hallitustoimintaan mukaan lähtemistä. Syyskokouksessa valitun
          hallituksen jäsenet valitsevat hallituskautensa alussa keskuudestaan
          vastaavat tahot eri osa alueiden asioiden hoitamiseen, vastuualueet
          joista hieman selviää mitä toiminta käytännössä on:
        </p>
        <div>
          <div class="entry-content">
            <h2><br>Hallituksen jäsenten yhteystiedot vuonna 2021:</h2>

            <hr />

            <p><strong>Serveri ry</strong> hallitus@serveriry.fi</p>

            <hr />

            <p><strong>Puheenjohtaja</strong> – Samu Rautio pj@serveriry.fi</p>

            <hr />

            <p>
              <strong>Varapuheenjohtaja</strong> – Teemu Multanen
              vpj@serveriry.fi
            </p>

            <hr />

            <p>
              <strong>Sihteeri</strong> – Konsta Kilponen sihteeri@serveriry.fi
            </p>

            <hr />

            <p>
              <strong>Edunvalvonta</strong> – Jenni Kortelainen
              <a href="https://t.me/jennitpk" rel="noopener" target="_blank"
                >Telegram</a
              >
              edunvalvonta@serveriry.fi
            </p>

            <hr />

            <p>
              <strong>Yritysyhteistyö</strong> – Juulia Kokkonen
              <a
                href="https://t.me/juulia_amanda"
                rel="noopener"
                target="_blank"
                >Telegram</a
              >
              yritys@serveriry.fi
            </p>

            <hr />

            <p>
              <strong>Rahastonhoitaja</strong> – Ville Miettinen
              talous@serveriry.fi
            </p>

            <hr />

            <p>
              <strong>Tapahtumavastaava</strong> – Oskari Jalkanen
              tapahtumat@serveriry.fi, presidentti@serveriry.fi
            </p>

            <hr />

            <p>
              <strong>Tapahtumavastaava</strong> – Teemu Hirvi
              <a href="https://t.me/teemuhirvi" rel="noopener" target="_blank"
                >Telegram</a
              >
              tapahtumat@serveriry.fi
            </p>

            <hr />

            <p>
              <strong>Viestintävastaava</strong> –&nbsp;Amanda Auvinen
              tiedotus@serveriry.fi
            </p>

            <hr />

            <p>
              <strong>Ylläpitovastaava</strong> – Jimi Viita-aho
              <a href="http://t.me/jimboolio" rel="noopener" target="_blank"
                >Telegram</a
              >
              yllapito@serveriry.fi
            </p>

            <hr />

            <p>
              <strong>Kansainvälisyysvastaava</strong> – Kaisa Rautiainen 
              kv@serveriry.fi, international@serveriry.fi
            </p>

            <hr />

            <!--<p><strong>Liikuntavastaava</strong> – Sara Kinnunen
liikunta@serveriry.fi</p>

<hr>-->

            &nbsp;
            <h2>Serverin Oppositio</h2>
            <p>
              Kiinnostaako ainejärjestötoiminta? Serverin Oppositio on ryhmä
              Telegramissa, jossa pääsee seuraamaan ainejärjestötoimintaa hieman
              lähempää. Ryhmään liittyminen ei sido mihinkään ja voit
              liittyä/poistua täysin vapaasti. Tervetuloa mukaan:
              <a
                href="https://t.me/joinchat/Byv7xlJDlwk03ip1lXAXtw"
                rel="noopener"
                target="_blank"
                >https://t.me/joinchat/Byv7xlJDlwk03ip1lXAXtw</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: 'Old',
  layout(context) {
    return "jarjesto";
  },
});
</script>

<style scoped lang="scss">
@import '~/assets/scss/colors.scss';
@import '~/assets/scss/prepare.scss';
@import '~/assets/scss/text.scss';
@import '~/assets/scss/styling.scss';

.page-content {
  background-color: $gray-dark;
  border-radius: 1em;
}
</style>