@import "~/assets/scss/colors.scss";

* {
    word-break: break-word;
}
.personbg {
    background-color: $gray-dark;
    max-width: 92vw;
    .boardwrap {
        //width: 50%;
        .content {
            //max-width: 90%;
            word-break: break-word;
        }
    }
}

.persongrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    //align-content: stretch;
    //justify-content: center;
    //flex-grow: 1;
    //margin: 1em;
    margin-top: 2em;
    gap: 2em;
  .personcard {
    //max-width: 30rem;
    background-color: $black-almost;
    border-radius: 1em;
    //display: grid;
    //align-content: stretch;

    //height: 100%;
    //width: 100%;
    //grid-template-columns: 1fr;
    .personwrapper {
        margin: 0 auto;
    }
    .avatarwrap {
        img {
            border-radius: 1em;
            //width: 98%;
            aspect-ratio: 1/1;
            object-fit: cover;
            width: 100%;
        }
    }

    table {
        background-color: $table-gray;
    }
    td {
        //padding: 0;
    }
  }
}


@media (max-width: 600px) {
    .persongrid {
        margin: 0.1em;
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
      .personcard {
        //max-width: 92vw;
        .personwrapper {
            //max-width: 80vw;
        }
        .avatarwrap {
            img {
                border-radius: 1em;
            }
        }
      }

      /*.content-padding {
          padding: 0.5rem;
      }*/
    }
}