/* eslint-disable indent */
<template>
  <div>
    <div class="nav-wrapper">
      <div class="slogan">
        <p class="slogan-text">
          Itä-Suomen yliopiston tietojenkäsittelytieteen opiskelijat - Kuopio
        </p>
      </div>
      <div class="top">
        <nav>
          <nuxt-link id="order-logo" to="/">
            <div class="logo-div pointer">
              <button class="logo-button pointer" aria-label="serveri home">
              <serveri class="logo pointer" />
              </button>
            </div>
          </nuxt-link>
          <nuxt-link id="order-uutiset" to="/uutiset/"
            ><div class="news nav-btn" :class="{ current: this.current.startsWith('uutiset') }"> 
              <!--this.current == 'uutiset' returns true if current path is uutiset, and that enables class="current" so the background will turn white-->
              <p class="nav-item-text">Uutiset</p>
            </div></nuxt-link
          >
          <nuxt-link id="order-media" to="/it-rekry"
            ><div class="media nav-btn" :class="{ current: this.current == 'it-rekry' }">
              <p class="nav-item-text">IT-rekry</p>
            </div></nuxt-link
          >
          <nuxt-link id="order-jarjesto" to="/jarjesto/tapahtumakalenteri"
            ><div
              class="organization nav-btn"
              :class="{ current: this.current == 'jarjesto-tapahtumakalenteri' }"
            >
              <p class="nav-item-text">Kalenteri</p>
            </div></nuxt-link
          >
          <nuxt-link id="order-connect" to="/seuraa"
            ><div class="connect nav-btn" :class="{ current: this.current == 'seuraa' }">
              <p class="nav-item-text">Seuraa</p>
            </div></nuxt-link
          >
        </nav>
        <!--<p>tää: {{ current }}</p>-->
        <!--<nuxt-link :to="switchLocalePath('en')">
          <div class="language-toggle">
            <p class="nav-item-text language-text">English?</p>
          </div>
        </nuxt-link>-->
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import serveri from './../components/svg/serveri.vue'

export default Vue.extend({
  name: 'NavBar',
  components: {
    serveri,
  },
  data() {
    return {
      //current: this.$route.name,
      //current: "",
    }
  },
  computed: {
    current() {
      // Set route name to null string
      let nam = ""
      // check route is not null before setting it to variable
      if (this.$route.name != null) {
        nam = this.$route.name
      }
      // Has to return string, otherwise error page will break
      return nam
    },
  },
  watch: {
    $route(to, from) {
      // set current path
      ////this.current = to.name
      // sets booleans for conditional selected, I KNOW it is horrible code
   //   console.log(this.current)

    },
  },
})
</script>

<style scoped lang="scss">
@import '~/assets/scss/colors.scss';
@import '~/assets/scss/prepare.scss';
@import '~/assets/scss/fonts/nunito.scss';
//@import "~/assets/scss/styling.scss";


//Navigation related stuff
.nav-wrapper {
  padding-top: 2rem;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1rem;
  // Mobile specific styles are in media query below
  .slogan-text {
    color: $white-death-ray;
    text-align: center;
    font-style: italic;
    font-size: 1.3em;
    @include nunito-regular;
  }
  .logo-svg {
    //height: 6rem;
    //width: 100%;
    fill: $white-death-ray;
    overflow: visible;
    cursor: pointer;
  }
  /* Navbar */
  // Wrapper to keep language button on same row as navbar
  .top {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 5fr 0.6fr;
    max-width: 100rem;
    margin: 0 auto;
  }
  .language-toggle {
    align-self: center;
    border-radius: 10rem;
    max-width: 30vw;
  }
  nav {
    width: 80%;
  }

  // Main navigation including logo but not including language-toggle
  // Parts which turn into mobile navbar
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-self: center;
    align-items: center;
  }
  .logo-div {
    justify-self: left;
    height: 4.5rem;
  }
  .logo-button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0;
  }

  .logo {
    width: 10rem;
  }

  /* Navbar buttons */
  .nav-item-text {
    cursor: pointer;
    color: $white-dirty;
    font-size: 1.1em;
    @include nunito-regular;
  }
  .language-toggle,
  .nav-btn {
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 3rem;
    background-color: $tech-green;
    text-align: center;

    transition: background-color 0.2s;
    .nav-item-text {
      transition: color 0.5s;
    }
  }
  .news {
    border-radius: 10rem 0 0 10rem;
  }
  .connect {
    border-radius: 0 10rem 10rem 0;
  }

  // Not working:
  .language-text {
    @include nunito-extra;
    font-weight: 800;
  }

  // Current page indicator
  // current page with css beloww, hover should have only text $white-death-ray
  .nav-btn:hover {
    background-color: $white-quite-bright;
    .nav-item-text {
      color: $tech-green;
      //text-align: center;
    }
  }

  .current {
    background-color: $white-quite-bright;
    .nav-item-text {
      color: $tech-green;
      text-align: center;
    }
  }

  // Navbar styles for mobile devices
  @media (max-width: 600px) {
    .current {
      background-color: $tech-green;
      .nav-item-text {
        color: $white-quite-bright;
        text-align: center;
      }
    }
    nav {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 5rem;
      border-radius: 0;
      background-color: $tech-green;
      -webkit-box-shadow: -1px -1px 30px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: -1px -1px 30px 4px rgba(0, 0, 0, 0.3);
      box-shadow: -1px -1px 30px 4px rgba(0, 0, 0, 0.3);
    }
    .nav-item-text {
      font-size: 0.8rem;
    }
    .language-toggle {
      margin-top: 1rem;
      justify-self: right;
      width: 30%;
    }
    #order-uutiset,
    .organization {
      order: 0;
      height: 100%;
    }
    #order-logo {
      order: 1;
      height: 100%;
    }
    #order-media,
    #order-connect {
      order: 2;
      height: 100%;
    }
    #order-jarjesto,
    .nav-btn {
      height: 100%;
    }
    .nav-btn:hover {
      background-color: $tech-green;
      .nav-item-text {
        color: $white-quite-bright;
        text-align: center;
      }
    }
  }

  // When launched from home screen icon
  @media all and (display-mode: standalone) {
    nav {
      padding-bottom: 0.5em;
    }
  }
}
</style>
