<template>
    <div class="page-margin">
        <h1>Linkkejä julkisiin serveriläisten tekemiin projekteihin</h1>
        <p>Lisää julkinen projekti tälle sivulle? Ylläpitovastaava hoitaa!</p>
        <!--<p><a href="https://johanna.tech/uefsim/" target="_blank">UEF Simulaattori</a> toimii vain näppäimistöä ja hiirtä käytettäessä, ainakin chromium pohjaisilla selaimilla</p>-->
        <!--<p><a href="">Crappy Bird</a> - Coming soon - </p>-->
        <!--<p><a href="https://johanna.tech" target="_blank">Mee töihin</a></p>-->

        <p>Serveri ry <a href="https://gitlab.com/serveri-ry" target="_blank">GitLabissa</a></p>
    </div>
</template>

<script>
export default {
    name: 'Koodiluola',
}
</script>

<style scoped lang="scss">
@import '~/assets/scss/colors.scss';
@import '~/assets/scss/prepare.scss';
@import '~/assets/scss/text.scss';
@import '~/assets/scss/styling.scss';
</style>