<template>
  <div class="wrapper page-content content-padding">
    <h1>Mitä tietojenkäsittelytiede on</h1>
    <p>
        <br>
      Jos etsit asiallisen selityksen sijaan meemeilyä, löydät sitä sivun
      lopusta ;)
      <br /><br />
      Tietojenkäsittelytiede on aavistuksen näsäviisaasti ilmaistuna tiedettä
      tiedon käsittelystä. Nykyään tietojenkäsittelytiede hyödyntää vahvasti
      digitaalisia järjestelmiä. Käytännössä tietojenkäsittelytieteeseen kuuluu
      siis tiedon keräämiseen, tallentamiseen, välittämiseen, näyttämiseen,
      muuntamiseen sekä käsittelyyn liittyviä aihepiirejä. Käytännössä parhaan
      kuvan tutkinnon rakenteesta saat opinto oppaasta jonka saat auki
      seuraavasta linkistä weboodi palvelusta, mikäli yliopiston palvelu ei ole
      muuttunut tämän kirjoittamisen jälkeen:
      <br /><br />
      <a
        href="https://weboodi.uef.fi/weboodi/jsp/opeopas/jsp/opastutkrakkats.jsf?Kieli=1&MD5avain=&vl_tila=5&Opas=4512&Org=20784076&alusta=1&esikatselu=0"
        >https://weboodi.uef.fi/weboodi/jsp/opeopas/jsp/opastutkrakkats.jsf?Kieli=1&MD5avain=&vl_tila=5&Opas=4512&Org=20784076&alusta=1&esikatselu=0</a
      >
      <br /><br />
      Mikäli linkki ei toimi, siirry osoitteeseen https://weboodi.uef.fi (älä
      unohda https alkua) Pudotusvalikosta ”opintotarjonta” -> ”oppaittain”
      Avautuvalta sivulta ”luonnontieteiden ja metsätieteiden tiedekunta” ->
      ”tietojenkäsittelytieteen laitos” -> ”tietojenkäsittelytiede, VUOSI” Ja
      avautuvalta sivulta tulee valita osio ”tutkintorakenteet”
      <br /><br />
      Jos linkki toimii, päädyt ohjeissa tähän pisteeseen Kurssilistasta saa
      auki mm. pakolliset ja valinnaiset kurssit klikkaamalla pientä plus
      symbolia Kurssin numeroa klikkaamalla pitäisi aueta sen kurssin kuvaus
      josta saa jonkinlaisen kuvauksen mitä siellä tehdään ja näet onko ala
      sellainen jota haluat opiskella (kannattaa t. lahjomaton kirjoittaja)
      <br /><br />
      Kandidaatin tutkinto koostuu kirjoitushetkellä siis 180 opintopisteestä ja
      maisterin tutkinto on 120 pistettä, joista molemmista osa on
      vapaavalintaisia sivuaineita. Osuudet näkyvät Weboodissa, koska tämä
      teksti saattaa vanhentua.
      <br /><br />
      Tietojenkäsittelytiede alan lehtorin, Erkki Pesosen esittelemänä: <br />
      <a href="https://youtu.be/PMIhWO6C_FY">https://youtu.be/PMIhWO6C_FY</a>
      <br /><br />
      Käytännön esimerkkejä ja meemeilyä löydät
      <nuxt-link to="/jarjesto/koodiluola">Koodiluolasta</nuxt-link>
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default {
  name: 'TKT-vanha',
  layout() {
    return 'jarjesto'
  },
  data () {
    return {
      view: 0,
    }
  },
  components: {},
}
</script>

<style scoped lang="scss">
@import '~/assets/scss/colors.scss';
@import '~/assets/scss/prepare.scss';
@import '~/assets/scss/text.scss';
@import '~/assets/scss/styling.scss';

.wrapper {
  p,
  a {
    word-break: break-word;
  }
}
</style>