/* This file was created to solve buggy styling issues regarding markdown content.
   Feel free to implement a better solution. It should be noted as well that
   Nuxt uses mainly postcss/css for styling. Therefore, maybe _text.scss is not even needed anymore.
*/
h1,
h2,
h3,
h4 {
    color: white;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    word-break: break-word;

}

h5 {
    text-transform: uppercase;
}

h4,
h5,
h6,
li,
a,
span,
td,
tr,
th,
p {
    font-family: sans-serif;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

p {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

h1,
h2,
h3 {
    font-family: sans-serif;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

h4 {
    font-size: 1.4rem;
}

th {
    font-weight: 800;
}

ul, 
ol {
    margin-left: 2em;
}

a, 
.link {
    color: #F99C62;;
    cursor: pointer;
}

h5 {
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-size: 1.6rem;
}

strong {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: #FFFFFF;
}

blockquote {
    font-size: 1.2rem;
    border-left: 10px solid #2C9494;;
    padding: 0.1em 10px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}