<template>
  <div>
    <!--<Underwater />-->
    <NavBar />
    <transition name="fade">
          <Nuxt keep-alive :keep-alive-props="{ max: 10 }" class="content"/>
    </transition>
    <Footer />
    <script async defer data-website-id="a0ee0993-cf0e-4d8e-8567-392462c11f10" src="https://statistics.jim.bo/umami.js" data-do-not-track="true" data-domains="serveriry.fi"></script>
  </div>
</template>

<script>
import NavBar from '~/components/NavBar.vue'
import Footer from '~/components/Footer.vue'
/*import Underwater from '~/components/underwater.vue'*/
export default {
  name: 'DefaultLayout',
  data: function () {
    return {
      // Details for Google search logo location
      structuredData: {
        '@context': 'http://schema.org',
        '@type': 'Organization',
        url: 'https://serveriry.fi',
        sameAs: [
          "https://t.me/serveriry",
          "https://www.instagram.com/serveriry/",
          "https://www.youtube.com/channel/UC1eMTNYFT0XmO_wCHKK6Fig",
          "https://facebook.com/serveriry/",
          "https://www.linkedin.com/company/serveriry",
          "https://gitlab.com/serveri-ry",
          "https://botsin.space/@serveri",
          "https://tapis.app/@serveriry/"
        ],
        logo: 'https://serveriry.fi/logo.svg',
        description: 'Itä-Suomen yliopiston tietojenkäsittelytieteen opiskelijat - Kuopio',
        address: 'Microkatu 1, 70211 Kuopio',
        foundingDate: '1987-10-21'
      }
    }
  },
  components: {
    NavBar,
    Footer,
    /*Underwater*/
  },
  head () {
    return {
      titleTemplate: 'Serveri ry - %s',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Itä-Suomen Yliopiston Kuopion kampuksen tietojenkäsittelytieteen opiskelijat'
        }
      ],
      link: [{ rel:'RSS', type:'application/rss+xml', title:'Serverin uutiset RSS', href:'https://rss.serveriry.fi/fi'}],
      // Adds Serveri ry logo to Google rich results
    }
  }
}
</script>

<style lang="scss">
@import '~/assets/scss/colors.scss';
@import '~/assets/scss/prepare.scss';
@import '~/assets/scss/fonts/nunito.scss';


  a {
    text-decoration: none;
    cursor: pointer;
  }

  .content {
    //min-height: 40vh;
  }
</style>
