<template>
  <div class="outer">
    <NavBar />
    <div class="mainWrapper">
      <div class="tab">
        <Home />
        <Footer />
      </div>
      <div class="tab">
        <Uutiset />
        <Footer />
      </div>
      <div class="tab">
        <Jarjesto />
        <Footer />
      </div>
      <div class="tab">
        <Media />
        <Footer />
      </div>
      <div class="tab">
        <Connect />
        <Footer />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Home from '@/pages/index.vue'
import Uutiset from '@/pages/uutiset/index.vue'
import Jarjesto from '~/pages/jarjesto/index.vue'
import Media from '@/pages/media.vue'
import Connect from '@/pages/seuraa.vue'
import NavBar from '~/components/NavBar.vue'
import Footer from '~/components/Footer.vue'

export default {
  name: 'expindex',
  head () {
    return {
      meta: [
      ]
    }
  },
  layout() {
    return 'none'
  },
  components: {
    Home,
    Uutiset,
    Jarjesto,
    Media,
    Connect,
    NavBar,
    Footer,
  },
}
</script>

<style lang="scss" scoped>
.mainWrapper {
  display: grid;
  grid-template-columns: 100vw 100vw 100vw 100vw 100vw;
  overflow-x: scroll;
  scroll-snap-type: mandatory;
  .tab {
    border: 3px solid red;
    scroll-snap-align: start;
    height: 80vh;
    overflow-y: scroll;
  }
}
</style>

<!--<style>
    .slogan {
        height: 0;
        visibility: hidden;
    }
</style>-->