<template>
    <div>
    <h1>ruokaa</h1>
    <antellround />
    <br>
    <!--<p>tää {{ $store.state }}</p>-->
    </div>
</template>

<script lang="ts">
export default {
  name: 'Ruoka',
  head () {
    return {
      meta: [
      ]
    }
  }
}

/*
import Vue from 'vue'
import antellround from './../components/foodCards/antellround.vue'

export default {
  async fetch({ store, error }) {
    try {
      await store.dispatch('food/loadMenus')
    } catch (e) {
      error({
        statusCode: 503,
        message: 'Unable to fetch events at this time. Please try again.',
      })
    }
  },
  components: {
      antellround,
  }
}*/
</script>